<footer id="contact">

  <!-- START WRAPPER -->
  <div class="headline-wrapper contact-headline">
    <!-- START ROW -->
    <div class="row">
      <h1 class="underline">
        Contact
      </h1>
      <p class="undertitle">
        Hurry up!!! and contact me for your most stunning and outstanding websites.
      </p>
    </div><!-- END ROW -->
  </div><!-- END WRAPPER -->


  <!-- START PARALLAX CONTENT -->
  <div class="parallax-content parallax-contact">

    <!-- START ROW -->
    <div class="row">
      <!-- START CONTACT FORM -->
      <div class="contact-form">
        <div id='contact-error' class="alert-box error" style="display: none;">
          <span>Error Message</span>
          <a class="close">x</a>
        </div>
        <div id='contact-success' class="alert-box success" style="display: none;">
          <span>Success Message</span>
          <a class="close">x</a>
        </div>
        <form id='contact-form' method="POST">
          <input name="name" type="text" class="text cleartext" placeholder="Your Name" />
          <input name="email" type="text" class="text cleartext" placeholder="Your eMail Address" />
          <textarea name="message"></textarea>
          <input type="submit" class="submit" value="Subscribe" name="" />
        </form>
      </div><!-- END CONTACT FORM -->
    </div><!-- END ROW -->

  </div><!-- END PARALLAX CONTENT -->


  <!-- START ROW -->
  <div class="row gutters contact-row">
    <!-- START COLUMN 4/12 -->
    <div class="col span_4">
      <h4>Tags</h4>
      <!-- START TAGS -->
      <div class="tags">
        <a class="button small">Responsive</a>
        <a class="button small">Creative</a>
        <a class="button small">Websdesign</a>
        <a class="button small">Ajax Loader</a>
        <a class="button small">One Page</a>

      </div><!-- END ROW -->
    </div><!-- END COLUMN 4/12 -->

    <!-- START COLUMN 4/12 -->
    <div class="col span_4">
      <h4>About</h4>
      <p>
        Ohh about myself.
        Crazy behind programming, fitness freak, Marathoner, Nature lover, loves swimming, singing and travelling.
      </p>
    </div><!-- END COLUMN 4/12 -->

    <!-- START COLUMN 4/12 -->
    <div class="col span_4">
      <h4>Contact Details</h4>
      <!-- START CONTACT DETAILS -->
      <div class="contact-details">
        <!-- START DETAIL -->
        <span class="detail">
                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                        <span class="text">H.No 558 Duragawadi <br /> Taleigao Goa</span>
                    </span><!-- END DETAIL -->

        <!-- START DETAIL -->
        <span class="detail">
                        <span class="icon"><i class="fa fa-mobile"></i></span>
                        <span class="text"><a href="tel:+919158381548">+91 9158381548</a></span>
                    </span><!-- END DETAIL -->

        <!-- START DETAIL -->
        <span class="detail">
                        <span class="icon"><i class="fa fa-envelope"></i></span>
                        <span class="text"><a href="mailto:453ankitapalekar@gmail.com">453ankitapalekar@gmail.com</a></span>
                    </span><!-- END DETAIL -->

      </div><!-- END CONTACT DETAILS -->
    </div><!-- START COLUMN 4/12 -->
  </div><!-- END ROW -->


  <!-- START GOOGLE MAP -->
  <div id="googlemap"></div><!-- END GOOGLE MAP -->


  <!-- START BOTTOM BOX -->
  <div class="bottom-box">
    <!-- START ROW -->
    <div class="row">
      ©bitlicio.us
    </div><!-- END ROW -->
  </div><!-- END BOTTOM BOX -->
</footer><!-- END FOOTER -->
