<!-- START HEADER SOCIAL ICONS -->
<div class="social-links">
  <a href="https://twitter.com/AnkitaPalekar" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="https://www.facebook.com/ankita.palekar.7" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://www.linkedin.com/in/ankita-palekar-8767666a/" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/Ankita-Palekar" target="_blank"><i class="fa fa-github"></i></a>
  <a href="https://www.linkedin.com/in/ankita-palekar-8767666a/" target="_blank"><i class="fa fa-linkedin"></i></a>
</div><!-- END HEADER SOCIAL ICONS -->
