<section id="work" class="section">

  <!-- START WRAPPER -->
  <div class="headline-wrapper">
    <!-- START ROW -->
    <div class="row">
      <h1 class="underline">
        My Work
      </h1>
      <p class="undertitle">
        I offer quality web design and implementation at an affordable price. I am skilled in ROR, PHP, MySQL, postgres, CSS3, HTML5, Javascript, JQuery and AJAX amongst others.
      </p>
    </div><!-- END ROW -->
  </div><!-- END HEADLINE WRAPPER -->


  <!-- START WRAPPER -->
  <div id="work-wrapper">
    <div class="close">
      <a id="close-work-wrapper"></a>
    </div>
    <div id="work-loader"><img src="assets/images/layout/color_loader.gif" alt="" /></div>

    <div id="load-work-content">
      <!-- WORK DETAILS LOAD HERE -->
    </div>
  </div><!-- END WRAPPER -->


  <!-- START WORK CONTAINER -->
  <div class="work-container">

    <!-- START ROW -->
    <div class="row">
      <!-- START FILTER TABS -->
      <ul class="work-tabs">
        <li class="filter active" data-filter="all">
          <a>All</a>
        </li>
        <li class="filter" data-filter="mobile-app-api">
          <a>Api</a>
        </li>
        <li class="filter" data-filter="webdesign">
          <a>Webdesign</a>
        </li>
      </ul><!-- END FILTER TABS -->
    </div><!-- END ROW -->


    <!-- START WRAPPER WORK GRID -->
    <ul id="work-preview">

      <!--for web design -->
      <!-- START WORK -->
      <li class="mix webdesign">
        <a class="project-dentist" data-work-link="#work-01.html">
          <img src="assets/images/work/dentist-anil-da-silva.png" alt="" />
          <!-- START LAYER -->
          <div class="layer">
            <h4 class="underline">Webdesign & Backend work</h4>
            <span class="client">
                                <a href="http://dentistanildasilva.in/" target="_blank">Dr. Anil da Silva dental clinics</a>
                            </span>
          </div><!-- END LAYER -->
        </a>
      </li><!-- END WORK -->

      <!-- START WORK -->
      <li class="mix webdesign">
        <a class="project-better-admin" data-work-link="#work-01.html">
          <img src="assets/images/work/better-the-game-admin-dashboard.png" alt="" />
          <!-- START LAYER -->
          <div class="layer">
            <h4 class="underline">Webdesign & Backend work</h4>
            <p>
              Webdesign & backend scripting done for the admin dashboard.
            </p>
          </div><!-- END LAYER -->
        </a>
      </li><!-- END WORK -->

      <li class="mix webdesign">
        <a class="project-campus-admin" data-work-link="#work-01.html">
          <img src="assets/images/work/campus-wings-admin-dashboard.png" alt="" />
          <!-- START LAYER -->
          <div class="layer">
            <h4 class="underline">Webdesign & Backend work</h4>
            <span class="client">
                                <p>
                                    Webdesign & backend scripting done for the admin dashboard.
                                </p>
                            </span>
          </div><!-- END LAYER -->
        </a>
      </li>
      <li class="mix webdesign">
        <a class="project-pump-app" data-work-link="#work-01.html">
          <img src="assets/images/work/pump-website.png" alt="" />
          <!-- START LAYER -->
          <div class="layer">
            <h4 class="underline">Webdesign & Backend work</h4>
            <p>
              Webdesign & backend scripting done for the chrome app and chrome extension.
            </p>

          </div><!-- END LAYER -->
        </a>
      </li>

      <li class="mix webdesign">
        <a class="project-codefabrik" data-work-link="#work-01.html">
          <img src="assets/images/work/code-fabrik.png" alt="" />
          <!-- START LAYER -->
          <div class="layer">
            <h4 class="underline">Webdesign & Backend work</h4>
            <p>
              Webdesign & backend scripting done for the website.
            </p>
          </div>
        </a>
      </li>
      <li class="mix mobile-app-api">
        <a class="project-better-mobile-app" data-work-link="#work-01.html">
          <img src="assets/images/work/better-mobile-app.png" alt="" />
          <div class="layer">
            <h4 class="underline">Api Implementation</h4>
            <p class="work-description">
              Database design and api's written for the app.
            </p>
          </div>
        </a>
      </li>

      <li class="mix mobile-app-api">
        <a class="project-campus-mobile-app" data-work-link="#work-01.html">
          <img src="assets/images/work/campus-wings-mobile-app.png" alt="" />
          <!-- START LAYER -->
          <div class="layer">
            <h4 class="underline">Api Implementation</h4>
            <p class="work-description">
              Database design and api's written for the app.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
