<!-- START PAGELOADER -->
<app-loader></app-loader>

<app-sidebar></app-sidebar>

<div id="page-wrapper">

  <app-home></app-home>

  <app-work></app-work>

  <app-blog></app-blog>

  <app-footer></app-footer>

</div>


<!-- JAVASCRIPT PLUGINS -->
<script type="text/javascript" src="scripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="scripts/SmoothScroll.js"></script>
<script type="text/javascript" src="scripts/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="scripts/jquery.bxslider.js"></script>
<script type="text/javascript" src="scripts/jquery.hoverdir.js"></script>
<script type="text/javascript" src="scripts/jquery.mixitup.js"></script>
<script type="text/javascript" src="scripts/jquery.fitvids.js"></script>
<script type="text/javascript" src="scripts/jquery.carouFredSel-6.2.1.js"></script>
<script type="text/javascript" src="scripts/respond.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgcbUnZ44Z4vTEOiFdl1xwK5B5MpiVEZk&sensor=false"></script>
<script type="text/javascript" src="scripts/jquery.googlemap.js"></script>

<!-- THEME JAVASCRIPT -->
<script type="text/javascript" src="scripts/theme.script.js"></script>

<!-- THEME MAIL -->
<script type="text/javascript" src="scripts/theme.mail.js"></script>

<script type="text/javascript" src="scripts/theme.settings.js"></script>



