

<header id="header">
  <div class="logo-wrapper">
  </div>
  <ul id="main-navigation">
    <li><a class="active" href="#banner">Start</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#blog" onclick="window.location.href = 'http://medium.com/@AnkitaPalekar'" target="_blank">Blog</a></li>
    <!--<li><a href="shortcodes.html">Shortcodes</a></li>-->
    <li><a href="#contact">Contact</a></li>
  </ul><!-- END NAVIGATION -->

  <app-social-media></app-social-media>

  <a id="open-nav"><i class="fa fa-bars"></i></a>
</header><!-- CLOSE HEADER -->
