<section id="banner" class="section parallax">

  <!-- START ROW -->
  <div class="banner-container">
    <!--<span class="big-text">-->
    <!--Welcome-->
    <!--</span>-->

    <img class="image-circle" src="assets/images/profile/profile-pic.png" style="width:200px; height: 200px;" alt="profile pic">
    <span class="small-text">
                 Ankita Palekar
            </span>
    <div class="button-wrapper">
      <a class="button scrollto" href="#work">View Portfolio</a>
      <!--<a class="button border">Purchase Now</a>-->
    </div>
  </div><!-- END ROW -->

  <!-- START SCROLL DOWN BUTTON -->
  <div class="scroll-down">
    <a class="scrollto" href="#work"></a>
  </div><!-- END SCROLL DOWN BUTTON -->

</section><!-- END BANNER SECTION -->
